<div >   
    <h1>{{ctrl.header}}</h1>
    <h3>{{ctrl.subheader}}</h3>

    <form action="" ng-submit="ctrl.searchgms()">
        <div class="form-group" >
            Brand
            <input type="text" ng-model="ctrl.searchBrand">            
            Name
            <input type="text" ng-model="ctrl.searchName">   
            
            <button type="submit" class="btn btn-default">Search</button>
            
        </div>
    </form>


    <table class="table">
        <thead> 
            <td>UPC 12</td>
            <td>BRAND</td>
            <td>NAME</td>
        </thead>
        <tbody> 
        <tr ng-repeat="i in ctrl.searchResults">
            <td>
                <img src="http://www.barcodes4.me/barcode/c128a/{{i.upc12}}.png?IsTextDrawn=1" alt="">
            </td>
            <!--<td>{{i.upc12}}</td>-->
            <td>{{i.brand}}</td>
            <td>{{i.name}}</td>
            <td>
                <div align="right">
                    <button type="button" class="btn btn-default" ui-sref="page2({ productId: i.id })">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </div>

            </td>
        </tr>
        </tbody>

    </table>



</div>