<div>   
    <h1>{{ctrl.header}}</h1>
    <h3>{{ctrl.subheader}}</h3>

<form class="form-group" ng-submit="ctrl.save()">
    <label for="brand">Brand</label>
    <input id="brand"  class="form-control" type="text" ng-model="ctrl.product.brand">
    <label for="name">Product Name</label>
    <input id="name"  class="form-control" type="text" ng-model="ctrl.product.name">
    <label for="upc12">UPC 12</label>
    <input id="upc12"  class="form-control" type="number" ng-model="ctrl.product.upc12">

    <br/>

    <!--<div class="form-group row">-->
        <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Cancel</button>
        <button type="submit" class="btn btn-success">Save</button>

    <!--</div>-->


</form>





</div>